<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.joonzis.mapper.GoWithMapper">
	<select id="getListWithPaging" resultType="org.joonzis.domain.GoWithFlagVO">
		<![CDATA[
			select wno, user_id, wtitle, content, people, style, departure, arrive, period, reg_date, r_cnt, p_cnt, city, country, continent, flag
			from
				(select
				rownum as rn, wno, user_id, wtitle, content, people, style, departure, arrive, period, reg_date, r_cnt, p_cnt, city,country, continent, flag from tbl_goWith  natural join tbl_country
			where 
				rownum <= #{pageNum} * #{amount} order by wno desc)
			where 
				rn > (#{pageNum} -1) * #{amount}
		]]>
	</select>
	
	<select id="getTotalcount" resultType="int">
		<![CDATA[
		select count(*) from tbl_goWith where wno > 0 
		]]>
	</select>
	
	<select id="getCountry" parameterType="String" resultType="org.joonzis.domain.CountryVO">
		select * from tbl_country where continent=#{continent}
	</select>
	
	<insert id="inserWith" parameterType="org.joonzis.domain.GoWithVO">
		insert into tbl_goWith (wno, user_id, wtitle, content, style, city, departure, arrive, r-cnt, p_cnt, people, period )
		values(
			goWith_seq.nextval,
			#{user_id},
			#{wtitle},
			#{content},
			#{style},
			#{city},
			#{departure},
			#{arrive},
			0,
			#{p_cnt}, 
			#{people},
			0
		)
	</insert>
</mapper>