<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.joonzis.mapper.GoWithMapper">
	<select id="getList" resultType="org.joonzis.domain.GoWithFlagVO">
		<![CDATA[
			select * from
				(tbl_goWith natural join tbl_country) natural join tbl_user 
			order by 
				wno desc
		]]>
	</select>
	
	<select id="getTotalcount" resultType="int">
		<![CDATA[
		select count(*) from tbl_goWith where wno > 0 
		]]>
	</select>
	
	<select id="getCountry" parameterType="String" resultType="org.joonzis.domain.CountryVO">
		select country from tbl_country where continent=#{continent} group by country
	</select>
	
	<select id="getCity" parameterType="String" resultType="org.joonzis.domain.CountryVO">
		select * from tbl_country where country=#{country}
	</select>
	
	<insert id="insert" parameterType="org.joonzis.domain.GoWithVO">
		insert into tbl_goWith(wno, user_id, wtitle, content, style, city, departure, arrive, r_cnt, p_cnt, people, reg_date, period, age)
		values(
			gowith_seq.nextval,
			#{user_id},
			#{wtitle},
			#{content},
			#{style},
			#{city},
			#{departure},
			#{arrive},
			0,
			#{p_cnt}, 
			#{people},
			sysdate,
			#{period},
			#{age}
			
		)
	</insert>
	
	<select id="get" parameterType="long" resultType="org.joonzis.domain.GoWithFlagVO">
		select * from (tbl_goWith natural join tbl_country) natural join tbl_user where wno = #{wno}
	</select>
	
	<delete id="remove" parameterType="long">
		delete from tbl_goWith where wno = #{wno}
	</delete>
	
	<select id="getApply" parameterType="long" resultType="org.joonzis.domain.ApplyVO">
		select * from tbl_apply where wno=#{wno}
	</select>
	
	<select id="checkApply" parameterType="org.joonzis.domain.ApplyVO" resultType="int">
		select count(*) from tbl_apply where user_id=#{user_id} and wno=#{wno}
	</select>
	
	<insert id="insertApply" parameterType="org.joonzis.domain.ApplyVO">
		insert into tbl_apply(ano, wno, user_id)
		values(
			apply_seq.nextval,
			#{wno},
			#{user_id}
		)		
	</insert>
	
	<delete id="deleteApply" parameterType="org.joonzis.domain.ApplyVO">
		delete from tbl_apply where wno=#{wno} and user_id=#{user_id}
	</delete>
	
	<select id="findano" resultType="int" parameterType="org.joonzis.domain.ApplyVO">
		select count(*) from tbl_apply where wno=#{wno} and user_id = #{user_id}
	</select>
	
	<select id="checkConfirm" resultType="int" parameterType="long">
		SELECT COUNT(*) FROM tbl_apply WHERE wno=#{wno} and confirmation = 1
	</select>
	
	<update id="getConfirm" parameterType="org.joonzis.domain.ApplyVO">
		update tbl_apply
		set
			confirmation = 1
		where
			wno=#{wno}
		and 
			user_id=#{user_id}
	</update>
	
	<update id="deleteConfirm" parameterType="org.joonzis.domain.ApplyVO">
		update tbl_apply
		set
			confirmation = 0
		where
			wno=#{wno}
		and 
			user_id=#{user_id}
	</update>
	
	
</mapper>