<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.joonzis.mapper.ReplyMapper">
	<select id="getList" resultType="org.joonzis.domain.ReplyVO" parameterType="long">
		select * from tbl_reply where bno=#{bno} order by rno, deep, rgp asc
	</select>
	
	<select id="getMyReplyList" resultType="org.joonzis.domain.BoardReplyVO" parameterType="String">
		select 
			rno, bno, title, content, reply_date, r_cnt
		from 
			tbl_reply natural join tbl_board
 		where 
    		writer =#{writer} order by rno desc
	</select>
	
	<!-- 댓글 insert -->
	<insert id="insert" parameterType="org.joonzis.domain.ReplyVO">
		insert into tbl_reply(no, bno, rno, rgp, deep, writer, content)
		values(
			reply_seq.nextval,
			#{bno},
			rno_seq.nextval,
			0,
			0,
			#{writer},
			#{content}
		)
	</insert>
	
	<!-- 대댓글 insert -->
	<insert id="insert_reply" parameterType="org.joonzis.domain.ReplyVO">
		insert into tbl_reply(no, bno, rno, rgp, deep, writer, content)
		values(
			reply_seq.nextval,
			#{bno},
			#{rno},
			(select nvl(max(rgp),0)+1 from tbl_reply),
			1,
			#{writer},
			#{content}
		)
	</insert>
	
	<select id="read" parameterType="long" resultType="org.joonzis.domain.ReplyVO" >
		select * from tbl_reply where no = #{no}
	</select>
	
	<delete id="delete" parameterType="long">
		delete from tbl_reply where no = #{no}
	</delete>
	
	<update id="update" parameterType="org.joonzis.domain.ReplyVO">
		update tbl_reply 
		set 
			content = #{content}
		WHERE 
			no = #{no}
	</update>
	
	<delete id="removeAll" parameterType="long">
		delete from tbl_reply where bno = #{bno}
	</delete>
	
	<update id="updateReplyCnt">
		update tbl_board
		set
			replycnt = replycnt + #{amount}
		where bno=#{bno}
	</update>
</mapper>