<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.joonzis.mapper.UserMapper">
	<select id="idCheck" parameterType="String" resultType="int">
		select count(*) from tbl_user where user_id = #{user_id}
	</select>
	
	<insert id="insert" parameterType="org.joonzis.domain.UserVO">
		insert into tbl_user (user_id, user_pw, user_email, user_name, user_birth, gender, user_nick, user_phone, joindate) 
		values(
				#{user_id},
				#{user_pw},
				#{user_email},
				#{user_name},
				#{user_birth},
				#{gender},
				#{user_id},
				#{user_phone},
				sysdate
			)
	</insert>
	
	<select id="login" parameterType="org.joonzis.domain.UserVO" resultType="org.joonzis.domain.UserVO">
		select * from tbl_user 
		where 
			user_id=#{user_id} and 
			user_pw=#{user_pw}
	</select>
	
	<insert id="addAuth" parameterType="String">
		insert into tbl_auth (grade, user_id, auth)
		values(
			'이코노미',
			#{user_id},
			'user'
		)
	</insert>
	
	<resultMap type="org.joonzis.domain.UserVO" id="userMap">
		<!-- VO의 필드명과 column의 컬럼명 다를 경우 맞춰준다-->
		<result property="user_id" column="user_id"/>
		<result property="user_pw" column="user_pw"/>
		<result property="user_email" column="user_email"/>
		<result property="user_name" column="user_name"/>
		<result property="user_birth" column="user_birth"/>
		<result property="user_phone" column="user_phone"/>
		<result property="gender" column="gender"/>
		<result property="user_nick" column="user_nick"/>
		<result property="user_pic" column="user_pic"/>
		<result property="joindate" column="joindate"/>
		<collection property="authList" resultMap="authMap"></collection> <!-- 아래 resultMap의 id값을 resultMap에 넣어 불러온다 -->
	</resultMap>
	
	<resultMap type="org.joonzis.domain.AuthVO" id="authMap">
		<result property="user_id" column="user_id"/>
		<result property="grade" column="grade"/>
		<result property="auth" column="auth"/>
	</resultMap>

	<select id="read" resultMap="userMap">
		SELECT 
			user_id, user_pw, user_email, user_name, user_birth,user_phone, gender, user_nick, user_pic, grade, auth
		FROM 
			tbl_user NATURAL JOIN tbl_auth 
		WHERE 
			user_id=#{user_id}
	</select>
</mapper>