<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.joonzis.mapper.UserMapper">
	<select id="idCheck" parameterType="String" resultType="int">
		select count(*) from tbl_user where user_id = #{user_id}
	</select>
	
	<select id="getPersonInfo" resultType="org.joonzis.domain.UserAuthVO" parameterType="String">
		select * from tbl_user natural join tbl_auth where user_id = #{writer}
	</select>
	
	<insert id="insert" parameterType="org.joonzis.domain.UserVO">
		insert into tbl_user (user_id, user_pw, user_email, user_name, user_birth, gender, user_nick, user_phone, joindate) 
		values(
				#{user_id},
				#{user_pw},
				#{user_email},
				#{user_name},
				#{user_birth},
				#{gender},
				#{user_id},
				#{user_phone},
				sysdate,
			)
	</insert>
	
	<select id="login" parameterType="org.joonzis.domain.UserVO" resultType="org.joonzis.domain.UserAuthVO">
		select * from tbl_user natural join tbl_auth
		where 
			user_id=#{user_id} and 
			user_pw=#{user_pw}
	</select>
	
	<insert id="addAuth" parameterType="String">
		insert into tbl_auth (grade, user_id, auth)
		values(
			'이코노미',
			#{user_id},
			'user'
		)
	</insert>
	<select id="getBirth" parameterType="String" resultType="String">
		select user_birth from tbl_user where user_id =#{user_id}
	</select>
	
	<update id="modify" parameterType="org.joonzis.domain.UserAuthVO">
		update tbl_user
		set
			user_pw = #{user_pw},
			user_email = #{user_email},
			user_nick = #{user_nick},
			user_phone = #{user_phone}
		where
			user_id = #{user_id}
	</update>
	<update id="updateImage" parameterType="org.joonzis.domain.UserVO">
		update tbl_user 
		set
			user_pic = #{user_pic}
		where 
			user_id = #{user_id}
	</update>
</mapper>